<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      function send() {
        $.get("/api/ticks/").done(function(data) {
          let ticks = data["ticks"]["data"];
          let dataTable = [];
          dataTable.push(["time", "price"]);
          for (let i = 0; i < ticks.length; i++) {
            dataTable.push([ticks[i]["timestamp"], ticks[i]["price"]]);
          }
          drawChart(dataTable);
        });
      }

      setInterval(send, 1000);
      window.onload = function() {
        send();
      };

      function drawChart(ticks) {
        var data = google.visualization.arrayToDataTable(ticks);

        var options = {
          title: 'Deriv Volability50(1s) Index',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }

    </script>
  </head>
  <body>
    <div id="curve_chart" style="width: 900px; height: 1000px"></div>
  </body>
</html>
